In [1]:
import numpy as np
import pandas as pd

In [2]:
table5 = pd.read_csv('/home/yuan/Dataset/kdd_2017/testing_phase1/trajectories(table 5)_test1.csv')
table6 = pd.read_csv('/home/yuan/Dataset/kdd_2017/testing_phase1/volume(table 6)_test1.csv')
table7 = pd.read_csv('/home/yuan/Dataset/kdd_2017/testing_phase1/weather (table 7)_test1.csv')
table5['starting_time'] = pd.to_datetime(table5['starting_time'])
table6['time'] = pd.to_datetime(table6['time'])
table7['date'] = pd.to_datetime(table7['date'])

In [3]:
table5

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time
0,A,2,1026631,2016-10-18 06:00:14,110#2016-10-18 06:00:14#7.65;123#2016-10-18 06...,27.54
1,C,3,1017312,2016-10-18 06:00:28,115#2016-10-18 06:00:28#9.35;102#2016-10-18 06...,139.53
2,A,2,1044671,2016-10-18 06:03:07,110#2016-10-18 06:03:07#7.22;123#2016-10-18 06...,26.01
3,A,3,1000017,2016-10-18 06:04:37,110#2016-10-18 06:04:37#7.39;123#2016-10-18 06...,78.40
4,A,2,1002850,2016-10-18 06:10:17,110#2016-10-18 06:10:17#14.33;123#2016-10-18 0...,71.00
5,A,2,1019077,2016-10-18 06:14:19,110#2016-10-18 06:14:19#5.46;123#2016-10-18 06...,20.27
6,A,3,1049060,2016-10-18 06:14:31,110#2016-10-18 06:14:31#8.05;123#2016-10-18 06...,104.14
7,C,1,1046993,2016-10-18 06:15:07,115#2016-10-18 06:15:07#7.34;102#2016-10-18 06...,165.67
8,B,3,1022126,2016-10-18 06:15:29,105#2016-10-18 06:15:29#9.47;100#2016-10-18 06...,54.75
9,B,1,1015832,2016-10-18 06:15:29,105#2016-10-18 06:15:29#4.26;100#2016-10-18 06...,57.82
10,A,3,1042861,2016-10-18 06:16:12,110#2016-10-18 06:16:12#3.27;123#2016-10-18 06...,25.90
11,A,2,1003226,2016-10-18 06:16:24,110#2016-10-18 06:16:24#10.06;123#2016-10-18 0...,60.44
12,C,1,1018917,2016-10-18 06:17:10,115#2016-10-18 06:17:10#11.23;112#2016-10-18 0...,125.03
13,A,2,1018118,2016-10-18 06:18:18,110#2016-10-18 06:18:18#11.19;123#2016-10-18 0...,42.22
14,A,2,1022678,2016-10-18 06:19:40,110#2016-10-18 06:19:40#9.74;123#2016-10-18 06...,40.20
15,B,1,1009802,2016-10-18 06:23:35,105#2016-10-18 06:23:35#3.91;100#2016-10-18 06...,48.68
16,A,2,1018937,2016-10-18 06:23:54,110#2016-10-18 06:23:54#11.09;123#2016-10-18 0...,49.70
17,A,2,1008599,2016-10-18 06:25:10,110#2016-10-18 06:25:10#10.16;123#2016-10-18 0...,36.67
18,C,1,1010394,2016-10-18 06:26:37,115#2016-10-18 06:26:37#9.17;102#2016-10-18 06...,138.00
19,A,3,1007888,2016-10-18 06:26:44,110#2016-10-18 06:26:44#9.85;123#2016-10-18 06...,100.92
20,B,3,1006634,2016-10-18 06:30:23,105#2016-10-18 06:30:23#8.73;100#2016-10-18 06...,152.92
21,A,2,1002214,2016-10-18 06:30:37,110#2016-10-18 06:30:37#10.20;123#2016-10-18 0...,34.19
22,A,2,1006552,2016-10-18 06:32:14,110#2016-10-18 06:32:14#11.36;123#2016-10-18 0...,36.98
23,A,3,1019091,2016-10-18 06:32:14,110#2016-10-18 06:32:14#9.70;123#2016-10-18 06...,183.10
24,B,3,1016967,2016-10-18 06:35:50,105#2016-10-18 06:35:50#9.94;100#2016-10-18 06...,119.71
25,A,2,1010221,2016-10-18 06:36:10,110#2016-10-18 06:36:10#6.66;123#2016-10-18 06...,39.72
26,C,1,1025361,2016-10-18 06:37:20,115#2016-10-18 06:37:20#9.43;102#2016-10-18 06...,134.45
27,B,3,1000813,2016-10-18 06:39:06,105#2016-10-18 06:39:06#9.52;100#2016-10-18 06...,90.43
28,A,2,1023696,2016-10-18 06:39:49,110#2016-10-18 06:39:49#13.59;123#2016-10-18 0...,64.83
29,C,1,1011887,2016-10-18 06:40:17,115#2016-10-18 06:40:17#9.94;102#2016-10-18 06...,158.71
...,...,...,...,...,...,...
2306,C,1,1022783,2016-10-24 16:42:57,115#2016-10-24 16:42:57#6.08;102#2016-10-24 16...,172.12
2307,B,3,1042853,2016-10-24 16:43:51,105#2016-10-24 16:43:51#15.77;100#2016-10-24 1...,133.26
2308,A,2,1011206,2016-10-24 16:44:27,110#2016-10-24 16:44:27#10.01;123#2016-10-24 1...,62.72
2309,A,2,1008332,2016-10-24 16:44:28,110#2016-10-24 16:44:28#6.96;123#2016-10-24 16...,59.74
2310,C,1,1044104,2016-10-24 16:45:53,115#2016-10-24 16:45:53#7.58;102#2016-10-24 16...,154.18
2311,B,3,1017580,2016-10-24 16:46:35,105#2016-10-24 16:46:35#9.48;100#2016-10-24 16...,112.00
2312,B,1,1030238,2016-10-24 16:47:03,105#2016-10-24 16:47:03#22.05;100#2016-10-24 1...,133.74
2313,B,1,1013163,2016-10-24 16:47:10,105#2016-10-24 16:47:10#20.14;100#2016-10-24 1...,134.56
2314,C,3,1038309,2016-10-24 16:48:40,115#2016-10-24 16:48:40#9.60;102#2016-10-24 16...,131.71
2315,B,3,1018009,2016-10-24 16:49:17,105#2016-10-24 16:49:17#29.34;100#2016-10-24 1...,86.75
2316,A,2,1029143,2016-10-24 16:49:22,110#2016-10-24 16:49:22#10.09;123#2016-10-24 1...,83.61
2317,B,3,1018749,2016-10-24 16:49:26,105#2016-10-24 16:49:26#9.64;100#2016-10-24 16...,68.94
2318,B,1,1009308,2016-10-24 16:49:41,105#2016-10-24 16:49:41#12.95;100#2016-10-24 1...,94.94
2319,C,3,1000571,2016-10-24 16:51:13,115#2016-10-24 16:51:13#8.28;102#2016-10-24 16...,132.80
2320,C,1,1001909,2016-10-24 16:51:35,115#2016-10-24 16:51:35#10.45;102#2016-10-24 1...,152.45
2321,A,2,1026365,2016-10-24 16:51:54,110#2016-10-24 16:51:54#11.10;123#2016-10-24 1...,59.40
2322,A,3,1001675,2016-10-24 16:52:01,110#2016-10-24 16:52:01#12.34;123#2016-10-24 1...,169.29
2323,C,3,1047043,2016-10-24 16:52:15,115#2016-10-24 16:52:15#39.54;102#2016-10-24 1...,214.92
2324,A,3,1001108,2016-10-24 16:52:17,110#2016-10-24 16:52:17#14.41;123#2016-10-24 1...,167.49
2325,B,3,1016929,2016-10-24 16:52:49,105#2016-10-24 16:52:49#10.23;100#2016-10-24 1...,137.61
2326,B,3,1049907,2016-10-24 16:52:50,105#2016-10-24 16:52:50#9.53;100#2016-10-24 16...,138.92
2327,A,3,1044697,2016-10-24 16:54:12,110#2016-10-24 16:54:12#9.64;123#2016-10-24 16...,121.15
2328,B,3,1026349,2016-10-24 16:54:45,105#2016-10-24 16:54:45#38.85;100#2016-10-24 1...,113.43
2329,A,2,1038138,2016-10-24 16:56:59,110#2016-10-24 16:56:59#11.80;123#2016-10-24 1...,60.50
2330,A,3,1003117,2016-10-24 16:57:08,110#2016-10-24 16:57:08#12.10;123#2016-10-24 1...,209.16
2331,A,2,1012213,2016-10-24 16:57:35,110#2016-10-24 16:57:35#20.11;123#2016-10-24 1...,69.72
2332,B,3,1000355,2016-10-24 16:58:42,105#2016-10-24 16:58:42#10.38;100#2016-10-24 1...,85.16
2333,A,2,1050712,2016-10-24 16:59:11,110#2016-10-24 16:59:11#6.44;123#2016-10-24 16...,23.04
2334,A,2,1035816,2016-10-24 16:59:17,110#2016-10-24 16:59:17#13.35;123#2016-10-24 1...,44.42
2335,A,3,1009886,2016-10-24 16:59:55,110#2016-10-24 16:59:55#9.39;123#2016-10-24 17...,88.33

In [4]:
table6

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-10-18 07:59:04,2,0,1,1,NaN
1,2016-10-18 07:59:31,2,0,1,1,NaN
2,2016-10-18 07:59:50,2,0,1,1,NaN
3,2016-10-18 07:32:33,3,0,1,1,NaN
4,2016-10-18 07:32:46,3,0,1,1,NaN
5,2016-10-18 07:33:41,3,0,1,1,NaN
6,2016-10-18 07:33:45,3,0,1,1,NaN
7,2016-10-18 07:33:52,3,0,1,1,NaN
8,2016-10-18 07:34:12,3,0,1,1,NaN
9,2016-10-18 07:34:52,3,0,1,1,NaN
10,2016-10-18 07:35:19,3,0,1,1,NaN
11,2016-10-18 07:35:21,3,0,1,1,NaN
12,2016-10-18 07:35:26,3,0,1,1,NaN
13,2016-10-18 06:34:17,3,0,1,0,NaN
14,2016-10-18 06:34:27,3,0,2,0,NaN
15,2016-10-18 06:34:38,3,0,2,0,NaN
16,2016-10-18 06:34:53,3,0,2,0,NaN
17,2016-10-18 06:35:09,3,0,2,0,NaN
18,2016-10-18 06:35:29,3,0,2,0,NaN
19,2016-10-18 06:35:48,3,0,1,0,NaN
20,2016-10-18 06:35:58,3,0,1,0,NaN
21,2016-10-18 06:36:08,3,0,1,0,NaN
22,2016-10-18 06:36:56,3,0,2,0,NaN
23,2016-10-18 06:37:47,3,0,1,0,NaN
24,2016-10-18 06:37:57,3,0,1,0,NaN
25,2016-10-18 06:38:09,3,0,1,0,NaN
26,2016-10-18 06:38:29,3,0,1,0,NaN
27,2016-10-18 06:38:42,3,0,2,0,NaN
28,2016-10-18 06:38:55,3,0,2,0,NaN
29,2016-10-18 06:39:39,3,0,1,0,NaN
...,...,...,...,...,...,...
29411,2016-10-24 16:49:30,1,1,1,0,0
29412,2016-10-24 15:48:49,1,1,4,0,0
29413,2016-10-24 16:51:21,3,1,1,1,0
29414,2016-10-24 15:56:31,3,1,2,0,1
29415,2016-10-24 16:53:56,3,1,1,0,0
29416,2016-10-24 15:55:50,3,1,2,0,1
29417,2016-10-24 16:01:29,3,1,1,0,0
29418,2016-10-24 16:01:19,3,1,1,1,0
29419,2016-10-24 16:09:23,1,1,1,0,1
29420,2016-10-24 16:11:24,1,1,1,0,0
29421,2016-10-24 16:12:30,3,1,1,0,0
29422,2016-10-24 15:14:02,3,1,1,0,0
29423,2016-10-24 16:10:50,3,1,1,0,0
29424,2016-10-24 16:11:11,3,1,3,0,1
29425,2016-10-24 15:25:01,3,1,1,1,0
29426,2016-10-24 15:30:39,3,1,1,0,0
29427,2016-10-24 15:39:16,3,1,1,0,0
29428,2016-10-24 16:39:34,1,1,1,0,0
29429,2016-10-24 16:49:20,3,1,1,0,0
29430,2016-10-24 16:04:10,3,1,1,0,1
29431,2016-10-24 15:35:00,3,1,1,0,0
29432,2016-10-24 16:56:21,3,1,1,0,1
29433,2016-10-24 15:10:57,3,1,1,1,0
29434,2016-10-24 16:15:16,3,1,1,0,1
29435,2016-10-24 15:24:53,3,1,1,0,0
29436,2016-10-24 16:27:39,3,1,1,0,0
29437,2016-10-24 16:27:18,3,1,1,0,0
29438,2016-10-24 16:37:42,3,1,5,0,1
29439,2016-10-24 16:47:48,3,1,5,0,1
29440,2016-10-24 16:48:40,3,1,2,0,1

In [5]:
table7

,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
0,2016-10-18,0,1015.2,1020.3,62,2.1,20.5,87,0.0
1,2016-10-18,3,1014.5,1019.5,37,2.5,23.3,73,0.0
2,2016-10-18,6,1012.5,1017.5,128,1.6,23.4,73,0.0
3,2016-10-18,9,1013.0,1018.0,205,0.6,20.9,94,1.8
4,2016-10-18,12,1013.8,1018.8,106,1.5,20.5,94,0.5
5,2016-10-18,15,1013.7,1018.7,90,1.9,20.1,95,0.1
6,2016-10-18,18,1012.1,1017.1,125,2.3,20.0,96,1.3
7,2016-10-18,21,1011.7,1016.7,93,1.9,19.7,95,0.1
8,2016-10-19,0,1012.7,1017.7,49,0.9,20.1,94,0.2
9,2016-10-19,3,1012.6,1017.6,94,2.8,20.9,92,0.1
10,2016-10-19,6,1010.8,1015.8,89,2.1,20.7,94,1.0
11,2016-10-19,9,1010.9,1015.9,96,1.8,20.5,95,0.2
12,2016-10-19,12,1011.7,1016.7,134,2.1,20.3,95,0.1
13,2016-10-19,15,1011.6,1016.6,61,1.2,20.6,96,1.5
14,2016-10-19,18,1010.1,1015.1,325,0.5,20.7,97,0.1
15,2016-10-19,21,1009.9,1014.9,69,0.9,21.2,97,0.2
16,2016-10-20,0,1011.0,1016.0,100,1.2,21.5,95,0.0
17,2016-10-20,3,1010.2,1015.2,91,2.1,21.7,96,2.8
18,2016-10-20,6,1007.8,1012.8,94,2.7,22.3,91,0.0
19,2016-10-20,9,1008.1,1013.1,96,2.0,22.4,91,0.0
20,2016-10-20,12,1008.8,1013.8,93,2.8,21.7,92,0.1
21,2016-10-20,15,1008.5,1013.5,67,1.6,21.5,96,1.0
22,2016-10-20,18,1007.3,1012.3,94,1.6,21.7,93,0.0
23,2016-10-20,21,1006.6,1011.6,89,1.8,21.4,97,0.8
24,2016-10-21,0,1007.4,1012.4,39,2.2,21.7,96,0.1
25,2016-10-21,3,1006.5,1011.5,354,2.0,21.9,97,0.2
26,2016-10-21,6,1004.1,1009.1,335,3.1,21.4,98,0.5
27,2016-10-21,9,1004.3,1009.3,340,2.8,21.2,98,0.0
28,2016-10-21,12,1005.7,1010.7,330,2.0,21.4,98,0.1
29,2016-10-21,15,1005.8,1010.8,357,2.1,21.1,98,0.0
30,2016-10-21,18,1005.3,1010.3,342,2.5,21.0,98,1.3
31,2016-10-21,21,1004.5,1009.5,335,2.2,21.0,98,3.3
32,2016-10-22,0,1005.5,1010.5,47,2.1,21.3,98,0.2
33,2016-10-22,3,1004.1,1009.1,90,1.8,22.4,96,0.2
34,2016-10-22,6,1000.2,1005.1,86,2.9,22.6,96,0.1
35,2016-10-22,9,999.4,1004.3,117,2.0,22.8,97,3.1
36,2016-10-22,12,1001.2,1006.2,356,5.0,21.7,97,2.4
37,2016-10-22,15,1004.0,1009.0,352,4.8,20.7,96,1.6
38,2016-10-22,18,1005.3,1010.3,0,6.0,20.8,95,0.0
39,2016-10-22,21,1007.0,1012.0,0,3.7,19.9,96,0.3
40,2016-10-23,0,1009.7,1014.7,353,3.9,19.6,93,0.0
41,2016-10-23,3,1010.0,1015.0,17,4.5,21.0,83,0.0
42,2016-10-23,6,1009.1,1014.1,13,3.2,20.6,84,0.0
43,2016-10-23,9,1009.9,1014.9,344,1.9,20.4,87,0.0
44,2016-10-23,12,1011.2,1016.2,330,1.8,19.7,92,0.0
45,2016-10-23,15,1011.4,1016.4,326,1.1,19.7,92,0.0
46,2016-10-23,18,1011.0,1016.0,43,0.8,19.3,92,0.0
47,2016-10-23,21,1010.9,1015.9,40,2.6,19.2,91,0.0
48,2016-10-24,0,1012.0,1017.0,135,1.6,20.4,87,0.0
49,2016-10-24,3,1010.6,1015.6,157,1.3,23.4,75,0.0
50,2016-10-24,6,1007.7,1012.7,175,1.4,24.5,68,0.0
51,2016-10-24,9,1007.3,1012.3,133,0.9,23.5,79,0.0
52,2016-10-24,12,1008.3,1013.3,318,2.0,22.4,81,0.0
53,2016-10-24,15,1008.0,1013.0,210,1.4,21.0,91,0.0
54,2016-10-24,18,1007.3,1012.3,226,3.0,20.7,94,0.0
55,2016-10-24,21,1008.1,1013.1,323,2.5,20.8,93,0.0

In [6]:
df = pd.read_csv('/home/yuan/Dataset/kdd_2017/submission_sample_travelTime.csv')

In [7]:
df

,intersection_id,tollgate_id,time_window,avg_travel_time
0,A,2,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",681.30
1,A,2,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",128.11
2,A,2,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",176.23
3,A,2,"[2016-10-18 09:00:00,2016-10-18 09:20:00)",749.09
4,A,2,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",37.22
5,A,2,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",184.95
6,A,2,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",614.73
7,A,2,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",118.63
8,A,2,"[2016-10-19 08:40:00,2016-10-19 09:00:00)",63.27
9,A,2,"[2016-10-19 09:00:00,2016-10-19 09:20:00)",516.60
10,A,2,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",42.83
11,A,2,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",459.44
12,A,2,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",56.98
13,A,2,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",566.16
14,A,2,"[2016-10-20 08:40:00,2016-10-20 09:00:00)",125.39
15,A,2,"[2016-10-20 09:00:00,2016-10-20 09:20:00)",777.55
16,A,2,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",205.22
17,A,2,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",164.18
18,A,2,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",466.20
19,A,2,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",765.33
20,A,2,"[2016-10-21 08:40:00,2016-10-21 09:00:00)",700.79
21,A,2,"[2016-10-21 09:00:00,2016-10-21 09:20:00)",416.49
22,A,2,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",248.90
23,A,2,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",673.67
24,A,2,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",574.81
25,A,2,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",621.60
26,A,2,"[2016-10-22 08:40:00,2016-10-22 09:00:00)",638.73
27,A,2,"[2016-10-22 09:00:00,2016-10-22 09:20:00)",640.95
28,A,2,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",306.12
29,A,2,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",377.38
...,...,...,...,...
474,C,3,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",657.24
475,C,3,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",71.66
476,C,3,"[2016-10-20 17:40:00,2016-10-20 18:00:00)",390.83
477,C,3,"[2016-10-20 18:00:00,2016-10-20 18:20:00)",559.06
478,C,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",331.23
479,C,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",743.05
480,C,3,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",297.78
481,C,3,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",269.70
482,C,3,"[2016-10-21 17:40:00,2016-10-21 18:00:00)",533.29
483,C,3,"[2016-10-21 18:00:00,2016-10-21 18:20:00)",611.21
484,C,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",605.76
485,C,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",608.09
486,C,3,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",772.61
487,C,3,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",379.59
488,C,3,"[2016-10-22 17:40:00,2016-10-22 18:00:00)",653.98
489,C,3,"[2016-10-22 18:00:00,2016-10-22 18:20:00)",59.01
490,C,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",127.81
491,C,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",652.77
492,C,3,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",324.30
493,C,3,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",257.89
494,C,3,"[2016-10-23 17:40:00,2016-10-23 18:00:00)",660.74
495,C,3,"[2016-10-23 18:00:00,2016-10-23 18:20:00)",652.06
496,C,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",246.43
497,C,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",486.65
498,C,3,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",437.11
499,C,3,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",485.05
500,C,3,"[2016-10-24 17:40:00,2016-10-24 18:00:00)",83.02
501,C,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",748.61
502,C,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",623.45
503,C,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",559.67