In [1]:
import pandas as pd
import math
from datetime import datetime

In [2]:
df = pd.read_csv('/home/yuan/Dataset/kdd_2017/training/trajectories(table 5)_training.csv')

In [3]:
df['starting_time'] = pd.to_datetime(df['starting_time'])

In [4]:
df[:10]

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98
5,C,3,1072812,2016-07-19 00:56:31,115#2016-07-19 00:56:31#10.97;102#2016-07-19 0...,113.54
6,B,1,1014648,2016-07-19 01:26:03,105#2016-07-19 01:26:03#16.85;100#2016-07-19 0...,176.70
7,A,2,1063919,2016-07-19 01:36:04,110#2016-07-19 01:36:04#10.39;123#2016-07-19 0...,74.47
8,A,3,1064408,2016-07-19 01:36:20,110#2016-07-19 01:36:20#8.58;123#2016-07-19 01...,94.57
9,C,1,1056529,2016-07-19 01:36:28,115#2016-07-19 01:36:28#9.50;102#2016-07-19 01...,214.87

In [8]:
#create dictionary travel time to average time in the same time slice
travel_times = {}
for row in range(len(df)):
    route_id = df['intersection_id'][row] + '-' + str(df['tollgate_id'][row])
    #create key example(A-2)
    if route_id not in travel_times.keys():
        travel_times[route_id] = {}
    
    trace_start_time = df['starting_time'][row]
    time_window_minute = int(math.floor(trace_start_time.minute / 20) * 20)
    start_time_window = datetime(trace_start_time.year, trace_start_time.month, trace_start_time.day, \
                                trace_start_time.hour, time_window_minute, 0)
    
    tt = float(df['travel_time'][row])
    
    
    if start_time_window not in travel_times[route_id].keys():
        travel_times[route_id][start_time_window] = [tt]
    else :
        travel_times[route_id][start_time_window].append(tt)
        
    
    #print start_time_window

In [6]:
travel_times

{'A-2': {datetime.datetime(2016, 7, 19, 0, 20): [58.05],
  datetime.datetime(2016, 7, 19, 1, 20): [74.47, 39.27],
  datetime.datetime(2016, 7, 19, 1, 40): [35.37999999999999, 130.43, 67.41],
  datetime.datetime(2016, 7, 19, 2, 20): [42.64],
  datetime.datetime(2016, 7, 19, 2, 40): [29.15, 40.12000000000001, 51.25],
  datetime.datetime(2016, 7, 19, 3, 20): [44.29, 39.55],
  datetime.datetime(2016, 7, 19, 3, 40): [23.03, 39.54, 55.72],
  datetime.datetime(2016, 7, 19, 4, 0): [50.79, 50.79, 42.81],
  datetime.datetime(2016, 7, 19, 4, 20): [86.42,
   72.19,
   57.58,
   64.14,
   48.97,
   43.34],
  datetime.datetime(2016, 7, 19, 4, 40): [45.59, 46.64],
  datetime.datetime(2016, 7, 19, 5, 0): [36.61, 64.88, 53.12, 46.73, 46.44],
  datetime.datetime(2016, 7, 19, 5, 20): [40.63,
   32.47,
   55.35,
   51.0,
   61.06,
   52.3,
   91.07],
  datetime.datetime(2016, 7, 19, 5, 40): [59.29,
   83.67,
   66.82,
   66.92,
   46.22,
   37.74,
   45.93],
  datetime.datetime(2016, 7, 19, 6, 0): [59.57, 36.08, 59.08, 54.11, 22.94],
  datetime.datetime(2016, 7, 19, 6, 20): [26.51, 47.98, 61.03, 61.8]},
 'A-3': {datetime.datetime(2016, 7, 19, 1, 20): [94.57],
  datetime.datetime(2016, 7, 19, 2, 20): [72.12, 83.1],
  datetime.datetime(2016, 7, 19, 3, 0): [93.09],
  datetime.datetime(2016, 7, 19, 4, 40): [108.78, 96.05, 70.0],
  datetime.datetime(2016, 7, 19, 5, 20): [168.36],
  datetime.datetime(2016, 7, 19, 6, 0): [86.23, 163.09],
  datetime.datetime(2016, 7, 19, 6, 20): [79.84, 91.64, 99.34]},
 'B-1': {datetime.datetime(2016, 7, 19, 0, 20): [79.76],
  datetime.datetime(2016, 7, 19, 0, 40): [137.98],
  datetime.datetime(2016, 7, 19, 1, 20): [176.7],
  datetime.datetime(2016, 7, 19, 4, 20): [94.06],
  datetime.datetime(2016, 7, 19, 5, 20): [66.98],
  datetime.datetime(2016, 7, 19, 5, 40): [87.83],
  datetime.datetime(2016, 7, 19, 6, 0): [170.09]},
 'B-3': {datetime.datetime(2016, 7, 19, 0, 0): [70.85],
  datetime.datetime(2016, 7, 19, 0, 20): [148.79000000000005],
  datetime.datetime(2016, 7, 19, 1, 40): [86.07, 101.37],
  datetime.datetime(2016, 7, 19, 2, 0): [67.81],
  datetime.datetime(2016, 7, 19, 2, 40): [142.32, 192.77],
  datetime.datetime(2016, 7, 19, 3, 40): [82.65,
   101.53,
   88.75999999999998,
   121.02],
  datetime.datetime(2016, 7, 19, 4, 0): [91.01, 102.33],
  datetime.datetime(2016, 7, 19, 4, 20): [53.15],
  datetime.datetime(2016, 7, 19, 4, 40): [62.09, 48.4],
  datetime.datetime(2016, 7, 19, 5, 0): [209.66],
  datetime.datetime(2016, 7, 19, 6, 0): [145.94],
  datetime.datetime(2016, 7, 19, 6, 20): [127.35]},
 'C-1': {datetime.datetime(2016, 7, 19, 1, 20): [214.87],
  datetime.datetime(2016, 7, 19, 1, 40): [189.77, 131.5],
  datetime.datetime(2016, 7, 19, 4, 40): [187.3],
  datetime.datetime(2016, 7, 19, 6, 0): [160.38]},
 'C-3': {datetime.datetime(2016, 7, 19, 0, 40): [113.54],
  datetime.datetime(2016, 7, 19, 6, 20): [161.74]}}

In [7]:
travel_times['A-2'][datetime(2016, 7, 19, 0, 20)]

[58.05]